.App {
  display: flex;
  
}
.sidebar {
  width: 20vw;
  background-color: #62D793;
  height: 105vh;
}
.fooditems {
  width: 55vw;
  background-color: #FFFFFF;
  height: 95vh;
}
.checkout {
    width: 25vw;
    background-color: #FFFFFF;
    height: 95vh;
  }
@media screen and  (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    height: 100%;
    background-color: white;
    width: 100%;
  }
  .fooditems {
    width: 100%;
    background-color: #FFFFFF;
   height: 100%;
  }
  .checkout {
    width: 100%;
    background-color: #FFFFFF;
    
  }
}